Repository ajmartin94/CookingAssistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-black, frontend-eslint, frontend-typecheck, frontend-stylelint, frontend-prettier

.pre-commit-config.yaml:

# Pre-commit configuration
# Per AD-0101: Optional local hooks for fast feedback
#
# Setup:
#   pip install pre-commit
#   pre-commit install
#
# Usage:
#   pre-commit run --all-files  # Run on all files
#   git commit                  # Runs automatically on staged files
#   git commit --no-verify      # Skip hooks (use sparingly)
#
# Note: These hooks are OPTIONAL. CI enforcement is the authoritative gate.

repos:
  # Backend hooks (Python)
  - repo: local
    hooks:
      - id: backend-ruff
        name: Backend lint (ruff)
        entry: bash -c 'cd backend && source venv/bin/activate && ruff check --fix .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

      - id: backend-black
        name: Backend format (black)
        entry: bash -c 'cd backend && source venv/bin/activate && black --check .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Frontend hooks (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend lint (eslint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend typecheck (tsc)
        entry: bash -c 'cd frontend && npx tsc -b'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-stylelint
        name: Frontend lint CSS (stylelint)
        entry: bash -c 'cd frontend && npm run lint:css'
        language: system
        files: ^frontend/.*\.css$
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend format (prettier)
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css)$
        pass_filenames: false

fix: update E2E logo click test - logo moved outside sidebar
  e2e/tests/core/navigation.spec.ts
Due: none

refactor: restructure plan skill from feature-scoping to user-story-scoping
  .claude/skills/plan/SKILL.md
Due: none

feat: add cooking mode overlay with step-by-step navigation
  e2e/tests/core/cooking-mode.spec.ts
  e2e/utils/api.ts
  frontend/CLAUDE.md
  frontend/src/components/recipes/CookingCompletionScreen.test.tsx
  frontend/src/components/recipes/CookingCompletionScreen.tsx
  frontend/src/components/recipes/CookingModeOverlay.test.tsx
  frontend/src/components/recipes/CookingModeOverlay.tsx
  frontend/src/components/recipes/CookingStepMenu.test.tsx
  frontend/src/components/recipes/CookingStepMenu.tsx
  frontend/src/components/recipes/StarRating.test.tsx
  frontend/src/components/recipes/StarRating.tsx
  frontend/src/components/recipes/StartCookingBar.tsx
  frontend/src/hooks/useCookingMode.test.ts
  frontend/src/hooks/useCookingMode.ts
  frontend/src/hooks/useSwipeGesture.test.ts
  frontend/src/hooks/useSwipeGesture.ts
  frontend/src/hooks/useWakeLock.test.ts
  frontend/src/hooks/useWakeLock.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/HomePageRedesign.test.tsx
  frontend/src/pages/RecipeDetailPage.test.tsx
  frontend/src/pages/RecipeDetailPage.tsx
Due: frontend-eslint, frontend-typecheck, frontend-prettier

refactor: reduce test suite runs across TDD/migrate/code-review workflow
  .claude/agents/tdd-green-impl.md
  .claude/agents/tdd-red-impl.md
  .claude/agents/tdd-review.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/migrate/SKILL.md
  .claude/skills/tdd/SKILL.md
  Makefile
Due: none

feat: add shopping list generation from meal plans
  backend/app/ai/test_provider.py
  backend/app/api/__init__.py
  backend/app/api/shopping_lists.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/shopping_list.py
  backend/app/schemas/shopping_list.py
  backend/app/services/shopping_list_service.py
  backend/migrations/versions/57b595609578_create_shopping_list_tables.py
  backend/tests/integration/test_shopping_lists_api.py
  e2e/tests/core/shopping-list-generate.spec.ts
  e2e/tests/core/shopping-list.spec.ts
  e2e/utils/api.ts
  frontend/CLAUDE.md
  frontend/src/App.tsx
  frontend/src/hooks/useCheckedItems.ts
  frontend/src/pages/ShoppingListPage.test.tsx
  frontend/src/pages/ShoppingListPage.tsx
  frontend/src/services/shoppingListApi.ts
  frontend/src/test/design-tokens.test.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/shoppingListData.ts
  frontend/src/types/shoppingList.ts
Due: backend-ruff, backend-black, frontend-eslint, frontend-typecheck, frontend-prettier

feat: add LAN-accessible dev server targets for mobile testing
  Makefile
Due: none

fix: use .env.lan for LAN dev server IP instead of WSL internal IP
  .gitignore
  Makefile
Due: none

fix: relocate feedback button to sidebar and settings page, apply theme tokens
  frontend/src/App.tsx
  frontend/src/components/common/layout/Sidebar.test.tsx
  frontend/src/components/common/layout/Sidebar.tsx
  frontend/src/components/feedback/FeedbackButton.test.tsx
  frontend/src/components/feedback/FeedbackButton.tsx
  frontend/src/components/feedback/FeedbackModal.test.tsx
  frontend/src/components/feedback/FeedbackModal.tsx
  frontend/src/components/feedback/index.ts
  frontend/src/pages/SettingsPage.test.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/test/design-tokens.test.tsx
Due: frontend-eslint, frontend-typecheck, frontend-prettier

feat: add GitHub issue creation and screenshot capture to feedback (#74)
  backend/.env.example
  backend/app/api/feedback.py
  backend/app/config.py
  backend/app/models/feedback.py
  backend/app/schemas/feedback.py
  backend/app/services/github_service.py
  backend/migrations/versions/c3d4e5f6g7h8_add_screenshot_and_github_issue_url_to_feedback.py
  backend/tests/integration/test_feedback_api.py
  backend/tests/unit/test_github_service.py
  e2e/tests/comprehensive/feedback.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/feedback/FeedbackButton.test.tsx
  frontend/src/components/feedback/FeedbackButton.tsx
  frontend/src/components/feedback/FeedbackModal.test.tsx
  frontend/src/components/feedback/FeedbackModal.tsx
  frontend/src/hooks/useScreenshot.test.ts
  frontend/src/hooks/useScreenshot.ts
  frontend/src/services/feedbackApi.test.ts
  frontend/src/services/feedbackApi.ts
  frontend/src/test/mocks/handlers.ts
Due: backend-ruff, backend-black, frontend-eslint, frontend-typecheck, frontend-prettier

refactor: overhaul skill workflow for user-story alignment and consistency
  .claude/agents/tdd-green-impl.md
  .claude/agents/tdd-red-impl.md
  .claude/skills/brainstorm/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/migrate/SKILL.md
  .claude/skills/plan/SKILL.md
  .claude/skills/review/SKILL.md
  .claude/skills/tdd/SKILL.md
  .claude/skills/triage/SKILL.md
Due: none

fix: capture viewport only, constrain screenshot preview thumbnail
  frontend/src/components/feedback/FeedbackModal.tsx
  frontend/src/hooks/useScreenshot.ts
Due: frontend-eslint, frontend-typecheck, frontend-prettier

fix: use authenticated context and native locators in feedback E2E tests
  e2e/tests/comprehensive/feedback.spec.ts
Due: none

fix: UI polish batch — gradient bar, sidebar overflow, dark mode text, cooking overlay (#78, #79, #82, #71)
  e2e/tests/comprehensive/cooking-mode-overlay.spec.ts
  e2e/tests/comprehensive/dark-mode-text.spec.ts
  e2e/tests/comprehensive/gradient-bar.spec.ts
  e2e/tests/comprehensive/sidebar-overflow.spec.ts
  frontend/src/components/common/layout/MainLayout.tsx
  frontend/src/components/common/layout/ProtectedLayout.tsx
  frontend/src/components/common/layout/Sidebar.tsx
  frontend/src/components/common/ui/Button.tsx
  frontend/src/components/common/ui/Card.tsx
  frontend/src/components/libraries/LibraryCard.tsx
  frontend/src/components/recipes/CookingModeOverlay.tsx
  frontend/src/components/sharing/ShareModal.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/contexts/SidebarContext.tsx
  frontend/src/pages/RecipeDetailPage.tsx
Due: frontend-eslint, frontend-typecheck, frontend-prettier
