Repository ajmartin94/CookingAssistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-black, frontend-eslint, frontend-prettier

backend-ruff:
  name: Backend lint (ruff)
  entry: bash -c 'cd backend && ruff check --fix .'
  language: system
  pass_filenames: false

backend-black:
  name: Backend format (black)
  entry: bash -c 'cd backend && black --check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend lint (eslint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Frontend format (prettier)
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
  language: system
  pass_filenames: false

bd sync: 2026-01-19 22:57:34
  .beads/issues.jsonl
Due: none

docs: accept AD-0105 - Phase 2 AI chat documentation plan
  docs/decisions/accepted/0105-phase-2-ai-chat-documentation.md
  docs/decisions/evidence/2026-01-19-phase-2-ai-chat-integration.md
Due: none

bd sync: 2026-01-19 23:08:31
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-20 08:25:35
  .beads/issues.jsonl
Due: none

test: add LLM service unit tests (TDD red phase)
  backend/tests/unit/test_llm_service.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 08:47:34
  .beads/issues.jsonl
Due: none

feat: implement LLM service with LiteLLM
  backend/app/config.py
  backend/app/services/llm/__init__.py
  backend/app/services/llm/service.py
  backend/requirements.txt
  backend/tests/unit/test_llm_service.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 09:09:51
  .beads/issues.jsonl
Due: none

test: add tool executor framework tests (TDD red phase)
  backend/tests/unit/test_tool_executor.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 09:16:21
  .beads/issues.jsonl
Due: none

feat: implement tool executor framework
  backend/app/services/tools/__init__.py
  backend/app/services/tools/executor.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 09:23:05
  .beads/issues.jsonl
Due: none

feat: add Docker deployment configuration with Ollama
  .env.docker.example
  .gitignore
  README.md
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

bd sync: 2026-01-20 09:27:43
  .beads/issues.jsonl
Due: none

test: add chat API endpoint tests (TDD red phase)
  backend/tests/integration/test_chat_api.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 11:03:44
  .beads/issues.jsonl
Due: none

feat: implement chat API endpoints
  backend/app/api/chat.py
  backend/app/main.py
  backend/app/schemas/chat.py
  backend/tests/integration/test_chat_api.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 11:26:40
  .beads/issues.jsonl
Due: none

test: add feedback collection tests (TDD red phase)
  backend/tests/integration/test_feedback_api.py
  frontend/src/components/chat/FeedbackButtons.test.tsx
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

bd sync: 2026-01-20 11:39:02
  .beads/issues.jsonl
Due: none

feat: implement feedback collection for AI chat
  backend/app/api/chat.py
  backend/app/models/__init__.py
  backend/app/models/feedback.py
  backend/app/schemas/__init__.py
  backend/app/schemas/feedback.py
  backend/app/services/feedback_service.py
  backend/tests/integration/test_feedback_api.py
  frontend/.gitignore
  frontend/src/components/chat/FeedbackButtons.test.tsx
  frontend/src/components/chat/FeedbackButtons.tsx
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

bd sync: 2026-01-20 11:43:00
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-20 11:52:05
  .beads/issues.jsonl
Due: none

test: add recipe tools TDD tests (red phase)
  backend/tests/unit/test_recipe_tools.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 11:52:42
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-20 12:00:31
  .beads/issues.jsonl
Due: none

feat: implement recipe tools (create, edit, substitutions)
  backend/app/api/chat.py
  backend/app/models/feedback.py
  backend/app/schemas/feedback.py
  backend/app/services/feedback_service.py
  backend/app/services/tools/recipe_tools.py
  backend/tests/unit/test_recipe_tools.py
Due: backend-ruff, backend-black

bd sync: 2026-01-20 12:12:17
  .beads/issues.jsonl
Due: none

test: add TDD tests for ChatPanel and ChatInput components (red phase)
  frontend/src/components/chat/ChatInput.test.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatPanel.test.tsx
  frontend/src/components/chat/ChatPanel.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 12:27:08
  .beads/issues.jsonl
Due: none

test: add LLM smoke tests for real model integration
  backend/pytest.ini
  backend/tests/smoke/__init__.py
  backend/tests/smoke/test_llm_smoke.py
  docs/TESTING.md
Due: backend-ruff, backend-black

bd sync: 2026-01-20 12:52:38
  .beads/issues.jsonl
Due: none

feat: implement ChatPanel and ChatInput components
  frontend/src/components/chat/ChatInput.test.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatPanel.test.tsx
  frontend/src/components/chat/ChatPanel.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 13:02:37
  .beads/issues.jsonl
Due: none

test: add TDD tests for ToolConfirmation component (red phase)
  frontend/src/components/chat/ToolConfirmation.test.tsx
  frontend/src/components/chat/ToolConfirmation.tsx
Due: frontend-eslint, frontend-prettier

feat: implement ToolConfirmation component (TDD green phase)
  .beads/issues.jsonl
  frontend/src/components/chat/ToolConfirmation.test.tsx
  frontend/src/components/chat/ToolConfirmation.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 13:30:53
  .beads/issues.jsonl
Due: none

test: add TDD tests for ChatProvider context (red phase)
  frontend/src/contexts/ChatContext.test.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 13:40:21
  .beads/issues.jsonl
Due: none

feat: implement ChatProvider context (TDD green phase)
  frontend/src/contexts/ChatContext.tsx
Due: frontend-eslint, frontend-prettier

Path conditions:
  backend-ruff: any of: ^backend/ and \.py$
  backend-black: any of: ^backend/ and \.py$
  frontend-eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  frontend-prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$
