Repository ajmartin94/CookingAssistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-black, frontend-eslint, frontend-prettier

.pre-commit-config.yaml:

# Pre-commit configuration
# Per AD-0101: Optional local hooks for fast feedback
#
# Setup:
#   pip install pre-commit
#   pre-commit install
#
# Usage:
#   pre-commit run --all-files  # Run on all files
#   git commit                  # Runs automatically on staged files
#   git commit --no-verify      # Skip hooks (use sparingly)
#
# Note: These hooks are OPTIONAL. CI enforcement is the authoritative gate.

repos:
  # Backend hooks (Python)
  - repo: local
    hooks:
      - id: backend-ruff
        name: Backend lint (ruff)
        entry: bash -c 'cd backend && ruff check --fix .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

      - id: backend-black
        name: Backend format (black)
        entry: bash -c 'cd backend && black --check .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Frontend hooks (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend lint (eslint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        files: ^frontend/
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend format (prettier)
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
        language: system
        types_or: [javascript, jsx, ts, tsx, css]
        files: ^frontend/
        pass_filenames: false

bd sync: 2026-01-20 13:53:25
  .beads/issues.jsonl
Due: none

feat: integrate chat panel into recipe pages (TDD green phase)
  frontend/src/pages/CreateRecipePage.test.tsx
  frontend/src/pages/CreateRecipePage.tsx
  frontend/src/pages/EditRecipePage.test.tsx
  frontend/src/pages/EditRecipePage.tsx
  frontend/src/pages/RecipeDetailPage.test.tsx
  frontend/src/pages/RecipeDetailPage.tsx
  frontend/src/pages/RecipesPage.test.tsx
  frontend/src/pages/RecipesPage.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 13:55:00
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-20 14:12:42
  .beads/issues.jsonl
Due: none

test(e2e): add E2E tests for chat flows
  e2e/pages/chat.page.ts
  e2e/tests/chat/chat-flows.spec.ts
Due: none

docs(backend): add LLM service conventions to CLAUDE.md
  .beads/issues.jsonl
  backend/CLAUDE.md
Due: none

docs(testing): add LLM testing patterns section
  .beads/issues.jsonl
  docs/TESTING.md
Due: none

docs: add chat conventions to frontend and root CLAUDE.md
  .beads/issues.jsonl
  CLAUDE.md
  frontend/CLAUDE.md
Due: none

bd sync: 2026-01-20 14:25:58
  .beads/issues.jsonl
Due: none

docs: add tester onboarding guide
  docs/TESTER_GUIDE.md
Due: none

fix(chat): add auth headers to ChatContext fetch calls
  .beads/issues.jsonl
  frontend/src/contexts/ChatContext.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-20 20:45:44
  .beads/issues.jsonl
Due: none

fix(e2e): refactor chat tests to use real backend with mock LLM
  backend/app/services/llm/mock_service.py
  backend/app/services/llm/service.py
  docs/E2E_TESTING.md
  docs/TESTING.md
  e2e/tests/chat/chat-flows.spec.ts
  frontend/src/components/chat/ChatPanel.tsx
  frontend/src/components/chat/ToolConfirmation.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/pages/CreateRecipePage.tsx
  frontend/src/pages/EditRecipePage.tsx
  frontend/src/pages/RecipeDetailPage.tsx
  frontend/src/pages/RecipesPage.tsx
  scripts/setup-dev.sh
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

fix(chat): handle malformed LLM tool call responses
  frontend/src/components/chat/ChatPanel.tsx
  frontend/src/components/chat/ToolConfirmation.tsx
  frontend/src/contexts/ChatContext.tsx
Due: frontend-eslint, frontend-prettier

bd sync: 2026-01-21 07:46:40
  .beads/issues.jsonl
Due: none

docs: add agent-driven TDD workflow design
  docs/plans/2026-01-21-agent-driven-tdd-workflow.md
Due: none

docs: add testing strategy reform notes (reference only)
  .beads/issues.jsonl
  docs/plans/2026-01-21-testing-strategy-reform-REFERENCE.md
Due: none

docs: fix reference link to renamed file
  docs/plans/2026-01-21-agent-driven-tdd-workflow.md
Due: none

feat: implement Phase 1 of agent-driven TDD workflow
  .beads/formulas/outside-in-tdd.formula.json
  .claude/skills/tdd/orchestrator.md
  .claude/skills/tdd/references/outcome-verification.md
  .claude/skills/tdd/references/review-criteria.md
Due: none

feat: implement Phase 2 E2E skills for TDD workflow
  .claude/skills/tdd/e2e-green-impl.md
  .claude/skills/tdd/e2e-green-review.md
  .claude/skills/tdd/e2e-red-impl.md
  .claude/skills/tdd/e2e-red-review.md
  .claude/skills/tdd/references/playwright-patterns.md
Due: none

feat: implement Phase 3 backend and frontend TDD skills
  .claude/skills/tdd/backend-green-impl.md
  .claude/skills/tdd/backend-green-review.md
  .claude/skills/tdd/backend-red-impl.md
  .claude/skills/tdd/backend-red-review.md
  .claude/skills/tdd/frontend-green-impl.md
  .claude/skills/tdd/frontend-green-review.md
  .claude/skills/tdd/frontend-red-impl.md
  .claude/skills/tdd/frontend-red-review.md
  .claude/skills/tdd/references/pytest-patterns.md
  .claude/skills/tdd/references/vitest-patterns.md
Due: none

feat: implement Phase 4 docs and workflow skills
  .claude/skills/tdd/docs-impl.md
  .claude/skills/tdd/docs-plan.md
  .claude/skills/tdd/docs-review.md
  .claude/skills/tdd/plan-reality-compare.md
  .claude/skills/tdd/plan-to-tasks.md
Due: none

refactor: restructure TDD skills to canonical format
  .beads/issues.jsonl
  .claude/skills/tdd/README.md
  .claude/skills/tdd/backend-green-impl/SKILL.md
  .claude/skills/tdd/backend-green-review/SKILL.md
  .claude/skills/tdd/backend-red-impl/SKILL.md
  .claude/skills/tdd/backend-red-impl/references/outcome-verification.md
  .claude/skills/tdd/backend-red-review/SKILL.md
  .claude/skills/tdd/docs-impl/SKILL.md
  .claude/skills/tdd/docs-plan/SKILL.md
  .claude/skills/tdd/docs-review/SKILL.md
  .claude/skills/tdd/e2e-green-impl/SKILL.md
  .claude/skills/tdd/e2e-green-review/SKILL.md
  .claude/skills/tdd/e2e-red-impl/SKILL.md
  .claude/skills/tdd/e2e-red-impl/references/outcome-verification.md
  .claude/skills/tdd/e2e-red-review/SKILL.md
  .claude/skills/tdd/frontend-green-impl/SKILL.md
  .claude/skills/tdd/frontend-green-review/SKILL.md
  .claude/skills/tdd/frontend-red-impl/SKILL.md
  .claude/skills/tdd/frontend-red-impl/references/outcome-verification.md
  .claude/skills/tdd/frontend-red-review/SKILL.md
  .claude/skills/tdd/orchestrator/SKILL.md
  .claude/skills/tdd/plan-reality-compare/SKILL.md
  .claude/skills/tdd/plan-to-tasks/SKILL.md
  .claude/skills/tdd/references/pytest-patterns.md
  .claude/skills/tdd/references/review-criteria.md
  .claude/skills/tdd/references/vitest-patterns.md
  backend/CLAUDE.md
  e2e/CLAUDE.md
  frontend/CLAUDE.md
Due: none

feat: add parallel execution to TDD orchestrator (Phase 5)
  .claude/skills/tdd/README.md
  .claude/skills/tdd/orchestrator/SKILL.md
Due: none

refactor: consolidate E2E testing docs into e2e/CLAUDE.md
  README.md
  docs/E2E_TESTING.md
  docs/TESTING.md
  e2e/CLAUDE.md
  frontend/CLAUDE.md
Due: none

chore: remove deprecated hooks scripts
  .claude/hooks/post-bd-close.py
  .claude/hooks/pre-commit-tdd.py
  .claude/hooks/save-plan.py
  .claude/hooks/test_input.json
  .claude/hooks/validate-bd-create.py
Due: none

docs: fix stale references and add quick-start to CLAUDE.md files
  CLAUDE.md
  frontend/CLAUDE.md
Due: none

chore: add claude-md-management plugin
  .claude/settings.json
Due: none

fix: resolve E2E login failure and code review issues
  .claude/LEARNING-testing-environment.md
  backend/.env.example
  e2e/tests/smoke/app-health.spec.ts
  frontend/.env.example
  frontend/src/components/chat/ChatPanel.tsx
Due: frontend-eslint, frontend-prettier

docs: graduate session learnings into durable documentation
  .claude/LEARNING-testing-environment.md
  .claude/skills/migrate/SKILL.md
  CLAUDE.md
  backend/CLAUDE.md
  e2e/CLAUDE.md
Due: none

test: align tests with revised user-story-focused plan
  backend/app/ai/prompts.py
  backend/app/ai/test_provider.py
  backend/app/api/chat.py
  backend/tests/integration/test_chat_api.py
  backend/tests/integration/test_user_preferences_api.py
  backend/tests/unit/test_prompts.py
  backend/tests/unit/test_response_parser.py
  e2e/tests/chat/chat-panel.spec.ts
  e2e/tests/settings/user-preferences.spec.ts
  e2e/utils/api.ts
  frontend/src/components/chat/ChatPanel.test.tsx
  frontend/src/components/chat/ChatPanel.tsx
  frontend/src/components/recipes/RecipeForm.test.tsx
  frontend/src/components/recipes/RecipeForm.tsx
  frontend/src/hooks/useChatSession.test.ts
  frontend/src/hooks/useChatSession.ts
  frontend/src/pages/CreateRecipePage.chat.test.tsx
  frontend/src/pages/SettingsPage.test.tsx
  playwright.config.ts
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

fix(test): use test provider for deterministic chat API test
  backend/tests/integration/test_chat_api.py
Due: backend-ruff, backend-black

fix: send recipe_id in chat API requests for edit pages
  frontend/src/components/chat/ChatPanel.tsx
  frontend/src/hooks/useChatSession.ts
  frontend/src/pages/EditRecipePage.chat.test.tsx
  frontend/src/services/chatApi.ts
Due: frontend-eslint, frontend-prettier

docs: add test provider pattern for AI integration tests
  backend/CLAUDE.md
Due: none

fix(test): correct TypeScript type for lastChatRequest variable
  frontend/src/pages/EditRecipePage.chat.test.tsx
Due: frontend-eslint, frontend-prettier

fix(test): use object wrapper to fix TypeScript closure narrowing
  frontend/src/pages/EditRecipePage.chat.test.tsx
Due: frontend-eslint, frontend-prettier

fix(test): clear sessionStorage in beforeAll for test isolation
  frontend/src/components/chat/ChatPanel.test.tsx
Due: frontend-eslint, frontend-prettier

fix(test): improve ChatPanel test isolation for CI stability
  frontend/src/components/chat/ChatPanel.test.tsx
Due: frontend-eslint, frontend-prettier
