Repository ajmartin94/CookingAssistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-black, frontend-eslint, frontend-prettier

.pre-commit-config.yaml:

# Pre-commit configuration
# Per AD-0101: Optional local hooks for fast feedback
#
# Setup:
#   pip install pre-commit
#   pre-commit install
#
# Usage:
#   pre-commit run --all-files  # Run on all files
#   git commit                  # Runs automatically on staged files
#   git commit --no-verify      # Skip hooks (use sparingly)
#
# Note: These hooks are OPTIONAL. CI enforcement is the authoritative gate.

repos:
  # Backend hooks (Python)
  - repo: local
    hooks:
      - id: backend-ruff
        name: Backend lint (ruff)
        entry: bash -c 'cd backend && source venv/bin/activate && ruff check --fix .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

      - id: backend-black
        name: Backend format (black)
        entry: bash -c 'cd backend && source venv/bin/activate && black --check .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Frontend hooks (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend lint (eslint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: Frontend format (prettier)
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css)$
        pass_filenames: false

fix(feedback): change aria-label to avoid conflict with chat send button
  frontend/src/components/feedback/FeedbackButton.tsx
Due: frontend-eslint, frontend-prettier

fix: add feedback router export and fix hardcoded test paths
  backend/app/api/__init__.py
  backend/tests/scripts/test_seed.py
Due: backend-ruff, backend-black

fix(types): resolve TypeScript errors in test files
  frontend/src/components/common/ErrorBoundary.test.tsx
  frontend/src/services/feedbackApi.test.ts
Due: frontend-eslint, frontend-prettier

docs: codify session learnings into CLAUDE.md files
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

docs: add ai-recipe-chat plan files (retroactive)
  .claude/plans/2026-01-23-ai-recipe-chat/plan_revised.md
  .claude/plans/2026-01-23-ai-recipe-chat/session_log.md
Due: none

chore: add backlog management workflow with GitHub Issues
  .claude/plans/2025-01-25-backlog-management/brainstorm.md
  CLAUDE.md
  docs/CONTRIBUTING.md
Due: none

docs: simplify README and move roadmap to GitHub Milestones
  README.md
Due: none

chore: add path filters to E2E CI workflow
  .github/workflows/e2e-tests.yml
Due: none

docs: add UI/UX overhaul brainstorm and design system
  .claude/plans/2025-01-25-ui-overhaul/brainstorm.md
  .claude/plans/2025-01-25-ui-overhaul/prototype-01-home.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-02-home-ai-first.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-03-home-mobile.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-04-recipe.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-05-cookbook.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-06-meal-plan.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-07-shopping.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-08-color-palette.html
  .claude/plans/2025-01-25-ui-overhaul/prototype-09-animations.html
  docs/DESIGN_SYSTEM.md
  frontend/CLAUDE.md
Due: none

docs: add design token learnings to durable context
  docs/DESIGN_SYSTEM.md
  frontend/CLAUDE.md
Due: none

style: fix stylelint errors in theme.css
  frontend/src/theme.css
Due: frontend-prettier

fix: resolve TypeScript build errors and add tsc to pre-commit
  .pre-commit-config.yaml
  frontend/src/components/common/layout/MobileTabBar.test.tsx
  frontend/src/components/common/layout/MobileTabBar.tsx
  frontend/src/components/home/SuggestionChips.tsx
  frontend/src/components/ui/AnimatedModal.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/components/ui/Tag.tsx
  frontend/src/pages/HomePageRedesign.test.tsx
  frontend/src/pages/RecipeDetailPage.redesign.test.tsx
  frontend/src/services/recipeApi.ts
  frontend/src/test/test-utils.tsx
Due: frontend-eslint, frontend-prettier

fix: move Feedback button to bottom-left to avoid overlap
  e2e/tests/feedback/feedback.spec.ts
  frontend/src/components/feedback/FeedbackButton.tsx
Due: frontend-eslint, frontend-prettier

fix: update E2E test selectors for design token migration
  e2e/tests/errors/network-errors.spec.ts
  e2e/tests/recipes/cookbook-page-redesign.spec.ts
  e2e/tests/recipes/recipe-page-redesign.spec.ts
Due: none

docs: add E2E testing speed audit, brainstorm, and plan
  .claude/plans/2026-01-26-testing-speed/audit-report.md
  .claude/plans/2026-01-26-testing-speed/brainstorm.md
  .claude/plans/2026-01-26-testing-speed/plan.md
Due: none

docs: add issue tracking guidance to feature pipeline
  CLAUDE.md
Due: none

fix(e2e): update test selectors to match actual UI
  e2e/pages/create-recipe.page.ts
  e2e/pages/libraries.page.ts
  e2e/pages/recipe-detail.page.ts
  e2e/tests/comprehensive/error-handling.spec.ts
  e2e/tests/comprehensive/feedback.spec.ts
  e2e/tests/core/home.spec.ts
  e2e/tests/core/workflows.spec.ts
Due: none

fix(e2e): resolve button selector and click interception issues
  e2e/pages/recipe-detail.page.ts
  e2e/pages/recipes.page.ts
  e2e/tests/comprehensive/recipe-edge-cases.spec.ts
  e2e/tests/core/recipe-crud.spec.ts
  e2e/tests/core/workflows.spec.ts
Due: none

fix(e2e): hide sidebar before clicking feedback button
  e2e/tests/comprehensive/feedback.spec.ts
Due: none

fix(e2e): use mobile viewport for feedback test and fix assertion
  e2e/tests/comprehensive/feedback.spec.ts
Due: none

fix(e2e): use force click for feedback button
  e2e/tests/comprehensive/feedback.spec.ts
Due: none

fix(e2e): use JS dispatch for feedback button click
  e2e/tests/comprehensive/feedback.spec.ts
Due: none

feat(tdd): add custom agent definitions for TDD subagents
  .claude/agents/tdd-green-impl.md
  .claude/agents/tdd-red-impl.md
  .claude/agents/tdd-review.md
  .claude/skills/tdd/SKILL.md
Due: none

feat(workflow): add triage skill and issue-driven workflow
  .claude/skills/triage/SKILL.md
  CLAUDE.md
  docs/CONTRIBUTING.md
Due: none

fix(workflow): add prerequisite checks, docs-update reviewer, and remove inconsistencies
  .claude/skills/brainstorm/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/plan/SKILL.md
  .claude/skills/tdd/SKILL.md
  .claude/skills/triage/SKILL.md
  .gitignore
  docs/CONTEXT_MANAGEMENT_GUIDE.md
Due: none

chore: add Makefile with setup, test, dev, and quality targets
  Makefile
Due: none

chore: apply review fixes and update docs for Makefile
  CLAUDE.md
  Makefile
  docs/CONTRIBUTING.md
Due: none

feat(theme): expand seasonal theme system to 14 CSS variables per season/mode
  frontend/CLAUDE.md
  frontend/src/components/common/layout/MainLayout.test.tsx
  frontend/src/components/common/layout/MainLayout.tsx
  frontend/src/components/libraries/LibraryCard.tsx
  frontend/src/components/recipes/RecipeCard.test.tsx
  frontend/src/components/recipes/RecipeCard.tsx
  frontend/src/components/ui/Card.test.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/SeasonPicker.test.tsx
  frontend/src/contexts/ThemeContext.test.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/pages/SettingsPage.test.tsx
Due: frontend-eslint, frontend-prettier

feat: add meal plan page with weekly view and recipe management
  backend/app/api/__init__.py
  backend/app/api/meal_plans.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/meal_plan.py
  backend/app/schemas/meal_plan.py
  backend/app/services/meal_plan_service.py
  backend/migrations/versions/a7dbfcb12232_create_meal_plan_tables.py
  backend/tests/integration/test_meal_plans_api.py
  docs/TESTING.md
  e2e/CLAUDE.md
  e2e/pages/meal-plan.page.ts
  e2e/tests/core/meal-plan-recipes.spec.ts
  e2e/tests/core/meal-plan-week-nav.spec.ts
  e2e/tests/core/meal-plan.spec.ts
  frontend/src/App.tsx
  frontend/src/components/meal-plan/DayColumn.test.tsx
  frontend/src/components/meal-plan/DayColumn.tsx
  frontend/src/components/meal-plan/MealSlot.test.tsx
  frontend/src/components/meal-plan/MealSlot.tsx
  frontend/src/components/meal-plan/RecipePickerModal.test.tsx
  frontend/src/components/meal-plan/RecipePickerModal.tsx
  frontend/src/components/meal-plan/WeekNavigation.test.tsx
  frontend/src/components/meal-plan/WeekNavigation.tsx
  frontend/src/pages/MealPlanPage.test.tsx
  frontend/src/pages/MealPlanPage.tsx
  frontend/src/services/mealPlanApi.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/mealPlanData.ts
  frontend/src/types/mealPlan.ts
  frontend/src/utils/dateUtils.ts
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

fix: visual polish batch - cursor, buttons, chat theme, sidebar, settings
  frontend/src/components/chat/ChangeSummary.tsx
  frontend/src/components/chat/ChatMessage.tsx
  frontend/src/components/common/layout/Sidebar.tsx
  frontend/src/components/meal-plan/MealSlot.tsx
  frontend/src/components/meal-plan/WeekNavigation.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/theme.css
Due: frontend-eslint, frontend-prettier

chore: code review fixes - remove redundant cursor classes, add docs
  frontend/CLAUDE.md
  frontend/src/components/meal-plan/MealSlot.tsx
Due: frontend-eslint, frontend-prettier

feat: replace placeholder data with real API-driven content (#38)
  Makefile
  backend/app/api/libraries.py
  backend/app/api/meal_plans.py
  backend/app/schemas/library.py
  backend/app/schemas/meal_plan.py
  backend/app/services/library_service.py
  backend/scripts/seed.py
  backend/tests/integration/test_response_enrichment_api.py
  backend/tests/scripts/test_seed.py
  frontend/src/components/home/QuickActions.test.tsx
  frontend/src/components/home/QuickActions.tsx
  frontend/src/components/meal-plan/DayColumn.test.tsx
  frontend/src/pages/HomePage.mealplan.test.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/HomePageRedesign.test.tsx
  frontend/src/pages/MealPlanPage.test.tsx
  frontend/src/pages/RecipesPage.test.tsx
  frontend/src/pages/RecipesPage.tsx
  frontend/src/services/libraryApi.ts
  frontend/src/services/mealPlanApi.ts
  frontend/src/services/shareApi.ts
  frontend/src/test/mocks/data.ts
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/mealPlanData.ts
  frontend/src/types/index.ts
  frontend/src/types/mealPlan.ts
Due: backend-ruff, backend-black, frontend-eslint, frontend-prettier

fix: visual polish batch 2 - remove TopBar, fix text tokens, widen layout
  docs/DESIGN_SYSTEM.md
  docs/UI_TEST_CHECKLIST.md
  e2e/pages/recipes.page.ts
  frontend/CLAUDE.md
  frontend/src/components/common/layout/MainLayout.test.tsx
  frontend/src/components/common/layout/MainLayout.tsx
  frontend/src/components/common/layout/Sidebar.test.tsx
  frontend/src/components/common/layout/Sidebar.tsx
  frontend/src/components/common/layout/TopBar.tsx
  frontend/src/components/common/layout/index.ts
  frontend/src/components/recipes/RecipeCard.test.tsx
  frontend/src/components/recipes/RecipeCard.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/HomePageRedesign.test.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SettingsPage.test.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/test/design-tokens.test.tsx
Due: frontend-eslint, frontend-prettier
